<!doctype html>

<title>YouTube-URLs</title>

<form method=post action="">
  <input name=url placeholder="https://youtube.com/watch?v=..." style="min-width: 300px">
  <input type=submit value="Los geht's">
</form>

{% if error %}
  <p style="color: red; font-weight: bold">Fehler beim Abrufen des Videos :-(</p>
{% endif %}

{% if result %}
<ul>
  {% for format in result['formats'] %}
    <li><a href="{{ format['url'] }}" {% if format.get('ext') %}download="{{ result['title'] }}.{{ format['ext'] }}"{% endif %}>{{ format['format'] }}</a>
  {% endfor %}
<ul>
{% endif %}
